*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  text-decoration: none;
  color: #fff;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #0f3a58;
  color: white;
  text-align: center;
}

.header__links{
  color: #fff;
  margin: 20px;
}

.header__links:hover{
  cursor: pointer;
}

.contain{
  width: 90%;
  margin: 20px auto;
}

.table{
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

.table__row{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 10px 10px;
}


.table__row:nth-child(odd){
  background-color: #f9f9f9;
}

.cardsHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  width: 100%;
  max-width: 250px;
  position: relative;
  margin: 25px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

.card__img{
  width: 100%;
}

.card__text{
  padding: 10px 10px 10px 10px;
  color: #fff;
  background-color: #0f3a58;
  margin-top: -7px;
  text-align: center;
  z-index: 999999;
}

.card__link{
  width: 100%;
  background-color: #0f3a58;
  padding: 10px 0 20px 0;
  text-align: center;
}

.card__link a{
  background-color: lightseagreen;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

.card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
	-webkit-transition: none;
	   -moz-transition: none;
          transition: none;
  pointer-events: none;
}

.card:hover:after {
  width: 100%;
  background-color: rgba(255,255,255,0);
  
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}

.pagination{
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  list-style-type: none;
}

.pagination__number{
  padding: 5px 10px;
  border: 1px solid lightgray;
  color: lightgray;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
}

.pagination__number:hover{
  cursor: pointer;
  background: lightsteelblue;
  color: #fff;
  background-color: lightseagreen;
  
}


/* single movie component css */

.holder{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 5% auto;
}

.movie{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.movie__image{
  margin: 0 auto;
  
  
}

.movie__image img{
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.movie__description{
  max-width: 700px;
}

.table--wide{
  margin: 25px 0;  
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

.table__row--left{
  justify-content: start;
  border-top: none;
}

.movie__span{
  margin-right: 5px;
  color: #000000;
  font-weight: 700;
}

.movie__misc{
  margin-bottom: 25px;
}

.movie__misc h4{
  margin-bottom: 15px;
}

.movie__misc p{
  margin-top: 4px;
}

.misc__link{
  color: #0645AD;
}

.misc__link:hover{
  cursor: pointer;
}

.movie__link{
  background-color: lightseagreen;
  padding: 8px 30px;
  font-size: 22px;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  transition: all ease-in 0.5s;
}

.movie__link:hover{
  cursor: pointer;
}
