*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: linear-gradient(45deg, black, transparent);
}

a{
  text-decoration: none;
  color: #fff;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 10px;
  color: white;
  text-align: center;
  margin-top: 0px;
  background-color: rgba(62, 73, 94, 1);
}

.header__links{
  color: #fff;
  margin: 20px;
}

.header__links a{
  background: lightseagreen;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75)
}

.header__links a:hover{
  cursor: pointer;
}

.sort{
  display: flex;
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.sort__title{
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  padding: 5px 0;
  max-width: 95px;
  text-align: center;
  background-color: lightseagreen;
}

.sort__title:hover{
  cursor: pointer;
}

.sort__menu{
  display: flex;
  align-items: center;
}

.sort__menu div{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 95px;   
}

.menu__div--active{
  background: lightseagreen;
}

.menu__text{
  width: 100%;
  text-align: center;
}

.sort__menu div:hover{
  cursor: pointer;
  font-weight: 500;
  background-color: lightseagreen;
}

.contain{
  width: 90%;
  margin: 20px auto;
}

.table{
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

.table__row{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 10px 10px;
  align-items: center;
}


.table__text{
  width: 95%;
  font-size: 14px;
}

.table__text--big{
  font-size: 18px;
  font-weight: 700;
}

.table__text--left{
  text-align: left;
}

.table__text--center{
  text-align: center;
}

.table__text--right{
  text-align: right;
}

.table__row:nth-child(even){
  background-color: #f9f9f9;
}

.cardsHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  width: 100%;
  max-width: 250px;
  position: relative;
  margin: 25px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

.card__img{
  width: 100%;
}

.card__text{
  padding: 8px 10px 5px 10px;
  color: #fff;
  font-size: 16px;
  background: #283048;  /* fallback for old browsers */
  margin-top: -7px;
  text-align: center;
  z-index: 999999;
}

.card__link{
  width: 100%;
  background: #283048;
  padding: 10px 0 20px 0;
  text-align: center;
}

.card__link a{
  background-color: lightseagreen;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

.card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
	-webkit-transition: none;
	   -moz-transition: none;
          transition: none;
  pointer-events: none;
}

.card:hover:after {
  width: 100%;
  background-color: rgba(255,255,255,0);
  
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}

.pagination{
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  
}

.pagination__list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}

.pagination__number{
    padding: 1px 10px;
    border: 1px solid lightgray;
    color: lightgray;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    max-width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__number:hover{
  cursor: pointer;
  color: #fff;
  background-color: lightseagreen;
}

.pagination__number--active{
  background-color: lightseagreen;
  color: #fff;
}

/* single movie component css */

.holder{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 5% auto;
}

.movie{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.movie__image{
  margin: 0 auto;  
}

.movie__image img{
  width: 95%;
  max-width: 342px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.movie__description{
  max-width: 700px;
  width: 50%;
  margin-right: 25px;
}

.table--wide{
  margin: 25px 0;  
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

.table__row--left{
  justify-content: start;
  border-top: none;
}

.movie__span{
  margin-right: 5px;
  color: #000000;
  font-weight: 700;
}

.movie__misc{
  margin-bottom: 25px;
}

.movie__misc h4{
  margin-bottom: 15px;
}

.movie__misc p{
  margin-top: 4px;
}

.misc__link{
  color: #0645AD;
}

.misc__link:hover{
  cursor: pointer;
}

.movie__link{
  background-color: lightseagreen;
  padding: 8px 30px;
  font-size: 22px;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  transition: all ease-in 0.5s;
}

.movie__link:hover{
  cursor: pointer;
}

.title{
  font-size: 22px;
  font-weight: 700;
}

.title--big{
  font-size: 28px;
}

.active{
  background-color: blue;
}

@media screen and (max-width:900px){

  .movie__image{
    width: 90%;
    display: flex;
  }

  .movie__description {
    width: 95%;
    max-width: 700px;
    margin: 30px auto 0 auto;
    text-align: center;
}

  .table--left{
    text-align: left;
  }
}

@media screen and (max-width: 759px){
  .pagination{
    width: 70%;
  }
}

@media screen and (max-width: 560px){
  .header{
    flex-direction: column;
    padding: 10px 0 0 0;
  }
  .header__links a{
    padding: 10px 10px;
  }
  .sort__title{
    max-width: 60px;
    font-size: 16px;
    padding: 10px 0;
  }
 
  .pagination__number:hover{
    background-color: #fff;
    color: lightgray;
  }

  .pagination__number--none{
    display: none;
  }
}

@media screen and (max-width: 455px){
  .sort{
    flex-direction: column;
    padding: 0px;
  }

  .sort__title{
    padding: 5px 0;
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    box-shadow: none;
  }

  .sort__menu{
    flex-direction: column;
    text-align: left;
  }
  .sort__menu div{
    padding: 5px 0;
  }
}

@media screen and (max-width: 360px){
  .card{
    margin: 0 auto 10px auto;
  }
}